# Dependencies
node_modules/

# Build
dist/
.vite/
.vite-temp/

# Logs
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Cache
tsconfig.tsbuildinfo
*.tsbuildinfo